@import "../../../css/colors.less";

#nav-bar-side {
  .logo {
    margin: 16px;
    padding: 3px;
    text-align: center;
    background: @primaryColor;
    color: white;
    font-weight: bold;

    a { color: white; }
  }

  .side-menu {
    height: 100%;
    border-right: 0;

    a { text-decoration: none; }
  }
}
