@import "../../../css/colors.less";
@import "../../../css/shapes.less";

#bo-nav-bar-side {
  .logo {
    height: @main-nav-height;
    padding: 22px 0;
    text-align: center;
    background: @primaryColor;
    color: white;
    font-weight: bold;

    a { color: white; }
  }

  .side-menu {
    height: 100%;
    border-right: 0;

    a { text-decoration: none; }
  }
}
